@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmployeeManagement.Models.Employee

<h2>Create Employee</h2>
<form method="post">
    Name: <input type="text" name="Name" /><br />
    DOB: <input type="date" name="DateOfBirth" /><br />
    DOJ: <input type="date" name="DateOfJoining" /><br />
    Salary: <input type="number" name="Salary" /><br />
    Dept: <input type="text" name="Dept" /><br />
    Password: <input type="password" name="Password" /><br />
    <button type="submit">Save</button>
</form>
