@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<EmployeeManagement.Models.Employee>

<h2>Employee List</h2>
<a href="/Employee/Create">Add New Employee</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Actions</th>
    </tr>
    @foreach (var emp in Model)
    {
        <tr>
            <td>@emp.ID</td>
            <td>@emp.Name</td>
            <td>@emp.Dept</td>
            <td>
                <a href="/Employee/Edit/@emp.ID">Edit</a> |
                <a href="/Employee/Delete/@emp.ID">Delete</a>
            </td>
        </tr>
    }
</table>
